body {
 background-color: amber;
 margin:0;
}
 p {
   background-color:#4A6AC8
   color: #0000;
   font-size: 24px;
   font-family: 'impact', Haettenschweiler, "Arial Narrow Bold", Sans-serif;
   padding: 20px;
   margin:0;
   width: 200px;
   display: inline-block;
   
}
 nav a{
  text-decoration:none;
  color: #CDDC39;
  background-color:#F0F4CE;
  border-radius:black;
  margin:15px;
  padding: 5px;
  display: inline-block;
  transition: 2s all;
 }
 h2{
font-size:72px;
font-family:Georgia;
rounded-radius: 2px;
margin:50px;
padding: 5px;
display: inline-block;

 }

nav a:hover{
 background-color: #8BC34A;
 transition: 1s all;
} 
header {
 text-align: center;
 
}
header h1{
 font-family: 'Satisfy', cursive;
 font-size: 72px;
}
header h2 {
 font-family: 'Dawning of a New Day', cursive;
 font-size: 36px;
}
header img{
 border-radius: 50%;
}

 h3{
font-size:30px;
font-family:Georgia;
color:#00796B;
 }

  div {
   color: black;
   font-size: 18px;
 }
section{
 text-align: center;
 background-image: url(http://payload88.cargocollective.com/1/8/282864/4079530/mountain_900.jpg);
 height:800px;
 background-size:cover;
 margin: 0;
}
#features{
 background-image: none;
 background-color:rgba(210, 204, 180, 1);
 height: 250px;
}
button{
  color: #CDDC39;
  background-color: rgba(191, 230, 89, 1);
  border:none;
  border-radius:black;
  padding: 5px;
  margin-top: 40px;
}
