body {
 background-color: amber;
}
 
 nav a{
  text-decoration:none;
  color: #CDDC39;
  background-color:#F0F4CE;
  border-radius:black;
  margin:5px;
  padding: 5px;
 }
 h2{
font-size:72px;
font-family:Georgia;
rounded-radius: 2px;
margin:50px;
padding: 5px;
display: inline-block;
transition:1s all;
 }

nav a:hover{
 background-color: #8BC34A;
} 
 h3{
font-size:30px;
font-family:Georgia;
 }
