div {
 margin-top: 0;
 margin-right:40px;
   color: black;
   font-size: 18px;
}
div #contentInfo{
 display: inline-block;
 color: white;
 font-size: 5px;
}
div #contactInfo {
 font-size:18px;
 text-decoration: none;
 color:white;
 display: block;
}
body {
 background-color: #FFF;
 margin:0;
}
 p {
   color: #FFF;
   background-color: rgba(140, 136, 120, 1);
   font-size: 24px;
   font-family: 'impact', Haettenschweiler, "Arial Narrow", Sans-serif;
   padding: 20px;
   margin:15;
   width: 200px;
   display: inline-block;
   transition: 1s all; 
}
p:hover{
 margin-top: -10px;
 transform: rotate(-7deg);
 transition: 1s all;
 }
 nav a{
  text-decoration:none;
  color: #CDDC39;
  background-color:#F0F4CE;
  border-radius:2PX;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  transition: 1s all;
  margin-left: 25px;
 }
nav a:hover{
 background-color: #8BC34A;
 transition: 1s all;
 text-decoration: none;
} 
header {
 text-align: center;
}
 header img{
 border-radius: 50%;
}
header h1{
 font-family: 'Satisfy', cursive;
 font-size: 72px;
 text-shadow: 10px 10px 5px #888888;
}
header h2 {
 font-family: 'Dawning of a New Day', cursive;
 font-size: 40px;
 color:#689F38;
}
 h3{
font-size:25px;
font-family:Georgia;
color:#00796B;
}
h4 {
 font-family: 'Satisfy', cursive;
 font-size: 72px;
 text-shadow: 10px 10px 5px #888888;
 text-align: left;
}
section{
 margin-top:5px;
 text-align: center;
 background-image: url(http://payload88.cargocollective.com/1/8/282864/4079530/mountain_900.jpg);
 height:600px;
 background-size:cover;
 color: white;
 text-decoration: none;
 font-family:Georgia;
}
#features{
 background-image: none;
 background-color:rgba(210, 204, 180, 1);
 height: 250px;
}
#events{
 color: white;
 font-family: Georgia;
}
elements.style{
 color: white;
}

ul{
 margin-left:150px;
}
button{
  color: #FFFF;
  background-color: rgba(191, 230, 89, 1);
  border:none;
  border-radius:black;
  padding: 5px;
  margin-top: 40px;
}
div-id: {
 margin-left:115px;font-size:12px;line-height:14px;
}
.menu-selected {
 background-color: green;
}
table {
 width: 500px;
 margin:0 auto;
 align: center;
}
footer{
 text-align: center;
 padding: 3px;
}
.bold {
 text-align: center;
 color: #689F38;
 
}

.button {
   border-top: 1px solid #6a8753;
   background: #238241;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c973e), to(#238241));
   background: -webkit-linear-gradient(top, #9c973e, #238241);
   background: -moz-linear-gradient(top, #9c973e, #238241);
   background: -ms-linear-gradient(top, #9c973e, #238241);
   background: -o-linear-gradient(top, #9c973e, #238241);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}
.rw-sentence{
	margin-left: 10px;
	text-align: left;
}
.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #6b969d;
}
.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 3s; 
	color: #6b889d;
}
.rw-words span:nth-child(3) { 
	animation-delay: 6s; 
	color: #6b739d;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 9s; 
	color: #7a6b9d;
}
.rw-words span:nth-child(5) { 
	animation-delay: 12s; 
	color: #8d6b9d;
}
.rw-words span:nth-child(6) {  
	animation-delay: 15s; 
	color: #9b6b9d;
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
